h1 {
	text-align: center;
}
.separate {
	margin-left: 100px;
	margin-right: 100px;
}
img.selfie {
	float: left;
	margin-right: 10px;
}
.about {
	margin-top: 20px;
}
div.clear {
	clear: both;
}

h4 {
	text-align: center;	
}
.bottom {
	text-align: center;
		margin: 10px 0px;
}